﻿
<!DOCTYPE html>

<html class="no-js">
<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>CFC- Coimbatore</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <!-- Mobile Specific Metas
      ================================================== -->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <!-- CSS
      ================================================== -->
    <link href="/Content/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/Content/plugins/mediaelement/mediaelementplayer.css" rel="stylesheet" type="text/css">
    <link href="/Content/css/style.css" rel="stylesheet" type="text/css">
    <link href="/Content/plugins/prettyphoto/css/prettyPhoto.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="~/Images/CFC_Logo.png">
    <!--[if lte IE 8]><link rel="stylesheet" type="text/css" href="css/ie8.css" media="screen" /><![endif]-->
    <!-- Color Style -->
    <link href="/Content/colors/color1.css" rel="stylesheet" type="text/css">
    <link href="/Content/css/custom.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- SCRIPTS
      ================================================== -->
    <script src="/Content/js/modernizr.js"></script><!-- Modernizr -->

    <style type="text/css">
        .cfc-text {
            font-family: Roboto Condensed !important;
            font-size: 200%;
            font-weight: 700;
            margin-top: 20px;
            color: #913838;
        }

        figure {
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 40px;
            margin-inline-end: 40px;
        }

        .polaroid {
            width: 80%;
            background-color: white;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .pull-left {
            float: left !important;
        }

        figure.inner-image:after {
            z-index: -1;
            -webkit-transform: rotate(3deg);
            -moz-transform: rotate(3deg);
            -o-transform: rotate(3deg);
            -ms-transform: rotate(3deg);
            transform: rotate(3deg);
            right: 10px;
            left: auto;
        }

        figure.inner-image {
            position: relative;
            border: 1px solid #d5d5d5;
            background: #fff;
            padding: 5px;
            display: inline-block;
            margin: 10px !important;
        }

            figure.inner-image:before, figure.inner-image:after {
                z-index: -1;
                position: absolute;
                content: "";
                bottom: 15px;
                left: 10px;
                width: 50%;
                top: 80%;
                max-width: 300px;
                background: #777;
                -webkit-box-shadow: 0 15px 10px #777;
                -moz-box-shadow: 0 15px 10px #777;
                box-shadow: 0 15px 10px #777;
                -webkit-transform: rotate(-3deg);
                -moz-transform: rotate(-3deg);
                -o-transform: rotate(-3deg);
                -ms-transform: rotate(-3deg);
                transform: rotate(-3deg);
            }

        .inner-image {
            position: relative;
            border: 1px solid #d5d5d5;
            background: #fff;
            padding: 5px;
            display: inline-block;
            margin: 10px !important;
        }

        html {
            scroll-behavior: smooth;
        }

        .photo-shadow {
            box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
        }
    </style>
</head>

<body>

    <div class="body">

        @if (ViewBag.Template != 0)
        {
            <!-- Start Site Header -->
            <header class="site-header">
                <div class="topbar" style="background-color: rgba(255,255,255,.6) ">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <a href="../"><img src="~/Images/CFC_Coimbatore.png" alt="Logo" style="height:75px; width:75px"></a>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5 hidden-xs" style="position: absolute; bottom: 0; left: 30%; ">
                                <p style="color: #913838; font-weight:bold; font-size:33px">Coimbatore Christian Fellowship Church</p>
                            </div>
                            <div class="hidden-md col-md-9 col-sm-9 col-xs-9">
                                <a href="#" class="visible-sm visible-xs menu-toggle"><i class="fa fa-bars"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="main-menu-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <nav class="navigation">
                                    <ul class="sf-menu" style="background: #F2CA65; font-size: 22px; font-weight: bold; ">
                                        <li>
                                            @Html.ActionLink("Home", "Index", "Home")

                                        </li>
                                        <li>
                                            @Html.ActionLink("About Us", "ShortHsitory", "AboutUs")
                                            <ul class="dropdown">
                                                <li>@Html.ActionLink("Short History", "ShortHsitory", "AboutUs")</li>
                                                <li>@Html.ActionLink("What we Believe", "WhatWeBelieve", "AboutUs")</li>
                                                <li>@Html.ActionLink("Leadership", "Leadership", "AboutUs")</li>
                                            </ul>
                                        </li>
                                        <li>@Html.ActionLink("About Zac Poonen", "AboutZacPoonen", "Home")</li>
                                        <!--<li>
        @Html.ActionLink("Short History", "ShortHsitory", "AboutUs")
    </li>-->
                                        <li>
                                            @Html.ActionLink("Sermons", "Index", "Home")
                                            <ul class="dropdown">
                                                <li>@Html.ActionLink("Sunday Sermon", "SunSermons", "Sermons")</li>
                                                <li>@Html.ActionLink("Wednesday Sermon", "WedSermons", "Sermons")</li>
                                            </ul>
                                        </li>
                                        <li>
                                            @Html.ActionLink("Books", "Index", "Home")
                                            <ul class="dropdown">
                                                <li>@Html.ActionLink("English Books", "English", "Books")</li>
                                                <li>@Html.ActionLink("தமிழ் புத்தகங்கள்", "Tamil", "Books")</li>
                                            </ul>
                                        </li>
                                        <li>
                                            @Html.ActionLink("Contact Us", "Contact", "ContactUs")
                                        </li>

                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        }
        <!-- End Site Header -->


        @RenderBody()


        <!-- Start Footer -->
        @if (ViewBag.Template != 0)
        {
            <footer class="site-footer">
                <div class="container">
                    <div class="row">
                        <!-- Start Footer Widgets -->
                        <div class="col-md-4 col-sm-4 widget footer-widget">
                            <h4 class="footer-widget-title">About our Church</h4>
                            <img src="~/Images/CFC_Coimbatore.png" width="70" height="70" alt="Logo">
                            <div class="spacer-20"></div>
                            <p>Coimbatore Christian Fellowship Church (CFC Coimbatore) gathers at 2nd Floor Krishna Complex, Kalpana Theater Road, Kavundampalayam, Coimbatore 641030, Tamil Nadu, India...</p>
                            @Html.ActionLink("Read More >>", "ShortHsitory", "AboutUs")
                        </div>
                        <div class="col-md-4 col-sm-4 widget footer-widget">
                            <h4 class="footer-widget-title">Blogroll</h4>
                            <ul>
                                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                <li>@Html.ActionLink("About Us", "About", "Home")</li>
                                <li>@Html.ActionLink("About Zac Poonen", "AboutZacPoonen", "Home")</li>
                                <li>@Html.ActionLink("Sunday Sermon", "SunSermons", "Sermons")</li>
                                <li>@Html.ActionLink("Wednesday Sermon", "WedSermons", "Sermons")</li>
                                <li>@Html.ActionLink("Contact Us", "Contact", "ContactUs")</li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-4 widget footer-widget">
                            <h4 class="footer-widget-title">Sermon YouTube Links</h4>
                            <a href="https://www.youtube.com/CFCCoimbatore" target="_blank" style="color:teal;font-weight:bold;text-decoration:none;">CFC Coimbatore</a>
                            <br><br>
                            <a href="https://www.youtube.com/cfcindiaVideos" target="_blank" style="color:teal;font-weight:bold;text-decoration:none;">CFC India</a>
                            <!--<ul class="twitter-widget" data-slide-to="1">
                            </ul>-->
                        </div>
                        <div class="col-md-4 col-sm-4 widget footer-widget">
                            <h4 class="footer-widget-title">Recommended Link</h4>
                            <a href="https://www.cfcindia.com/" target="_blank" style="color:teal;font-weight:bold;text-decoration:none;">www.cfcindia.com</a>
                            <!--<ul class="twitter-widget" data-slide-to="1">
                            </ul>-->
                        </div>
                    </div>
                </div>
            </footer>
        }
        <footer class="site-footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="copyrights-col-left col-md-6 col-sm-6">
                        <p>&copy; @DateTime.Now.Year - Christian Fellowship Church - Coimbatore, Tamilnadu, India. All Rights Reserved.</p>
                    </div>
                    <div class="copyrights-col-right col-md-6 col-sm-6">
                        <div class="social-icons">
                            <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.youtube.com/CFCCoimbatore" target="_blank"><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer -->
        <a id="back-to-top"><i class="fa fa-angle-double-up"></i></a>
    </div>
    <script src="~/Content/js/jquery-2.0.0.min.js"></script>
    <!-- Jquery Library Call -->
    <script src="~/Content/plugins/prettyphoto/js/prettyphoto.js"></script>
    <!-- PrettyPhoto Plugin -->
    <script src="~/Content/js/helper-plugins.js"></script>
    <!-- Plugins -->
    <script src="~/Content/js/bootstrap.js"></script>
    <!-- UI -->
    <script src="~/Content/js/waypoints.js"></script>
    <!-- Waypoints -->
    <script src="~/Content/plugins/mediaelement/mediaelement-and-player.min.js"></script>
    <!-- MediaElements -->
    <script src="~/Content/js/init.js"></script>
    <!-- All Scripts -->
    <script src="~/Content/plugins/flexslider/js/jquery.flexslider.js"></script>
    <!-- FlexSlider -->
    <script src="~/Content/plugins/countdown/js/jquery.countdown.min.js"></script>
    <!-- Jquery Timer -->
    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@

    <script src="https://www.biblegateway.com/public/link-to-us/tooltips/bglinks.js" type="text/javascript"></script>
    <script type="text/javascript">
        BGLinks.version = "NASB";
        BGLinks.linkVerses();
    </script>
    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script>
        function googleTranslateElementInit() {
            new google.translate.TranslateElement(
                { pageLanguage: 'en' },
                'google_translate_element'
            )
        }
    </script>
</body>
</html>
